* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

header {
  padding: 20px;
  background-color: #AAAAAA;
}

h3 {
  background-color: #FFFFFF;
}

.exercises {
  background-color: #AAAAAA;
}

.exercises li {
  background-color: #FFFFFF;
  padding: 15px 0;
  margin: 10px;
  border-style: solid;
}